h1 {
  font-family: "lato";
  font-size: 300px;
  color: #f00; }

h2 {
  color: #f00; }

.box {
  width: 800px;
  height: 800px; }

.container {
  width: 800px;
  height: 100px; }
  .container ul {
    margin-top: 100px; }
    .container ul li {
      color: #f00;
      font-size: 100px; }
      .container ul li .box {
        margin: 10px; }

.container {
  width: 800px; }

.container ul {
  margin-top: 100px; }

.container ul li {
  color: #f00;
  font-size: 100px; }

.container ul li .box {
  margin: 10px; }
