//var
$font-h1-size: 300px;
$red: #f00;
$width: 800px;
$font: 'lato';
h1 {
    font-family: $font;
    font-size: $font-h1-size;
    color: $red;
}

h2 {
    color: $red;
}

.box {
    width: $width;
    height: $width;
}

// nesting
.container {
    width: $width;
    height: 100px;
    ul {
        margin-top: 100px;
        li {
            color: $red;
            font-size: 100px;
            a {
                &.link {
                    color: $red;
                }
                &:hover {
                    color: #000;
                }
            }
        }
    }
}
//跳脫字元
$classname : name1;
##{$classname} {
    margin: 100px;
}