//var
$font-h1-size: 300px;
$red: #f00;
$width: 800px;
$font: 'lato';
h1 {
    font-family: $font;
    font-size: $font-h1-size;
    color: $red;
}

h2 {
    color: $red;
}

.box {
    width: $width;
    height: $width;
}

// nesting
.container {
    width: $width;
    height: 100px;
    ul {
        margin-top: 100px;
        li {
            color: $red;
            font-size: 100px;
            a {
                &.link {
                    color: $red;
                }
                &:hover {
                    color: #000;
                }
            }
        }
    }
}

//跳脫字元
$classname: name1;
.#{$classname} {
    margin: 100px;
}

ul {
    li {
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                width: $i*10px;
            }
        }
    }
}

//不傳值
@mixin box-center() {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.box1 {
    @include box-center();
    height: 200px;
}

.box2 {
    @include box-center();
    height: 300px;
}

//傳值
@mixin widths($widths, $align) {
    width: $widths;
    height: $widths;
    text-align: $align;
}

.box3 {
    @include widths(200px, center);
}

.box4 {
    @include widths(400px, left);
}

//變數在外
$width: 500px;
.box5 {
    @include widths($width, left);
}

//mixin預設值
@mixin margins ($top:10px, $bottom:10px, $left:10px, $right:10px) {
    margin-top: $top;
    margin-bottom: $bottom;
    margin-left: $left;
    margin-right: $right;
}

.box6 {
    @include margins (20px, 20px);
}

//null
@mixin boxs ($width:null, $height:null) {
    width: $width;
    height: $height;
}

.box7 {
    @include boxs(10px);
}

//連結當案
@import "base/setting";
@import "layout/header";
@import "layout/footer";


.box10 {
    margin: $margins;
}


