@import "../libs/bootstrap-sass/assets/stylesheets/bootstrap";
@import "base/setting";
@import "mixins/setting";
//初始化
h1 {
    margin: 0;
    padding: 0;
}

.section {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.section_1 {
    padding-top: 500px;
    background-color: #000;
    text-align: center;
    color: #fff;
}

.section_2 {
    background-color: #ffa500;
    padding-top: 100px;
    .wide_4x { 
        .item {
          border: 1px solid #000;
          background-color: palegreen;
          height: 400px;
        }
    }

}