$basic   :  'Open Sans', sans-serif ;
$lato    :  'Lato', sans-serif;
$shansan :  'source-han-sans-traditional', sans-serif;



//font
$fontfamilys    : $lato;
$font_base_size : 14px ;
$font_weight    : 400 ; 
$line_height    : 1.5 ;
$base_color     : #333 ;
$letter-spacing : 0.01rem;
$word-spacing   : 2px; 